* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #FFFFFF;
  height: min-content;
  display: block;
}

* {
  scrollbar-color: #005C3D #878787;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #005C3D;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #878787;
}

.main {
  background-color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

._container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

._button-white {
  color: #009C68;
  background-color: white;
  width: 131px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #009C68;
  transition: all 0.8s ease;
}
._button-white:hover {
  color: white;
  background-color: #009C68;
}

._button-green {
  color: white;
  border-radius: 5px;
  transition: all 0.8s ease;
  background-color: #009C68;
}
._button-green:hover {
  background-color: #005C3D;
  cursor: pointer;
}

._link-green {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #009C68;
  width: 131px;
  height: 38px;
  border-radius: 5px;
  transition: all 0.8s ease;
}
._link-green:hover {
  background-color: #005C3D;
}

._link-white {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009C68;
  background-color: white;
  border: 1px solid #009C68;
  border-radius: 5px;
  transition: all 0.8s ease;
}
._link-white:hover {
  background-color: #009C68;
  color: white;
}

.standarts {
  max-height: 660px;
  background-color: #FFFFFF;
}
.standarts__container {
  max-width: 1140px;
  margin: 0 auto;
}
.standarts__heading {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  padding-top: 70px;
}
.standarts__container-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 51px;
}
.standarts__items {
  width: 367px;
  height: 408px;
  margin-top: 60px;
  border-width: 2px 0px;
  border-style: solid;
  border-color: #000000;
  transition: 0.5s;
}
.standarts__items:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}
.standarts__item-heading {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  padding: 30px 0 0 20px;
}
.standarts__item-description {
  padding-top: 40px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.standarts__item-description p {
  padding-bottom: 30px;
}
.standarts__price-btn {
  padding: 30px 0 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.standarts__price-btn span {
  font-weight: 700;
}
.standarts__btn {
  width: 158px;
  height: 38px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  border-radius: 5px;
  background-color: #009C68;
  transition: all 0.8s ease;
}
.standarts__btn:hover {
  background-color: #005C3D;
  cursor: pointer;
}

/*# sourceMappingURL=/standarts.eb1bf040.css.map */